* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(244 238 238);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


.items-container {
    margin: 50px auto;
    width: 1080px;
}

.first-items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.items {
    border: 1px solid rgba(172, 164, 164, 0.5);
    border-radius: 8px;
    background-color: #ffff;
    height: 280px;
    width: 230px;
    overflow-x: auto;
    position: relative;
    
}
.items:hover {
    box-shadow: 0 17px 34px 0 rgba(0, 0, 0, 0.04), 0 8px 17px 0 rgba(82, 77, 94, 0.02);
}

figure img {
    height: 170px;
    width: 100%;
    position: relative;
}

div .arrow-right,
.arrow-left {
    height: 20px;
    width: 20px;
    padding: 8px;
    border-radius: 50%;
    z-index: 3;
    background-color: rgba(172, 164, 164, 0.5);
    display: none;
}

li:hover .arrow-right {
display: block;
}
li:hover .arrow-left {
    display: block;
}

.arrow-left {
    position: absolute;
    top: 85px;
    left: 5px;
}

.arrow-right {
    position: absolute;
    top: 85px;
    right: 5px;
}

.diamond img {
    position: absolute;
    top: 140px;
    right: 10px;
    height: 18px;
    width: 18px;
    z-index: 1;
    background-color: #ffff;
    border-radius: 2px;
    padding: 1px;
}

.particul {
    position: absolute;
    top: 10px;
    left: 10px;

}

.percent img {
    height: 18px;
    width: 18px;
}

.roller img {
    height: 18px;
    width: 18px;
}

.contrant img {
    height: 18px;
    width: 18px;
}

.like img {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 18px;
    width: 18px;
}

.agency {
    position: absolute;
    top: 140px;
    left: 10px;
    background-color: #4264fd;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 500;
    line-height: 15px;
    color: #ffff;
    text-align: center;
    padding: 3px 8px;
}

.money {
    position: absolute;
    bottom: 85px;
    left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #2f1f19;
    ;
}

.area {
    position: absolute;
    bottom: 70px;
    left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #2f1f19;
}

.building {
    position: absolute;
    bottom: 35px;
    left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #4a4a4a;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

.building sup {
    font-size: 8px;
    font-weight: 600;
    margin-left: -4px;
}

.city-date {
    position: absolute;
    bottom: 10px;
    left: 10px;
    line-height: 17px;
    font-size: 14px;
    font-weight: lighter;
    color: #98918a;
}